body {
  text-align: center; 
  justify-content: center;
  background-color: rgb(221, 207, 187);
  font-size: 22px;
  padding: 80px;
  margin: 40px;
}

.container {
  max-width: 700px;
  margin: auto;
  text-align: center;
  margin-top: 80px;
  font-family:'Shadows Into Light', cursive;
}

.btn {
  cursor: pointer;
}

.btn:hover {
  outline-style: none;
}

.par {
  padding: 70px;
  padding-bottom: 200px;
  background-image: url('./public/one.jpg'); 
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.5),
    2px 2px 4px rgba(0,0,0,0.5);
  border-radius: 5px;
}